aside {
  width: 30%;
  padding-left: 5px;
  margin-left: 5px;
  float:right;
}


body,html {
	background-color: #FFF5EE;
    	color: black;
	height: 150%;
  }


@media only screen and (max-width: 800px) {
  body {
    background-color: #DCDCDC;
    color: black;
  }
}

.jumbotron {	
	padding: 5px;
	background-image: url("pics/silmat1.jpg");
	background-repeat: no-repeat;
	width:200%;
	background-size:50%;	
}

h1 {
	text-shadow: 2px 3px pink;
}


h2 {
	font-size: 20px;
}
p {
	font-size: 14px;
}

ul {
	font-size: 14px;
}

.nav{
	text-align: left;
	float: none;
	padding: 0px;
}

/* unvisited link */
a:link {
  color: #000080;
  transition: all 0.2s linear;
}

/* visited link */
a:visited {
  color: #2F4F4F;
}

/* mouse over link */
a:hover {
  color: gold;
}

/* selected link */
a:active {
  color: blue;
}



#main{
	text-align: left;
	float: none;
	padding: 20px;
	width: 80%;
	margin-left: 10%;
}


/* used in home page */
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 150%;
  margin: 0 auto -42px;
  position: relative; 
}

section {
  width: 100%;
  height: 150%;
}

article {
  position: relative;
  top: 50%;
  left: 40%;
  padding: 20px;
  transform: translate(-50%, -50%);
  height:150%;
}

/* Pattern styles */
.left-half {
  float: left;
  width: 40%;
}
.right-half {
  float: left;
  width: 60%;
}

/* main page */
#text{
	float: left;
	padding: 5%;
	width: 60%;
}
iframe{
	text-align: left;
	float: none;
	margin-left: 10%;
}

.footer {​​​​
 	Position: absolute; 
	bottom: 0px;
	width:100%;
	background-color: #C0C0C0;
	color: #2F4F4F;
 	text-align: left;
	padding:10px;
}

#footer {​​​​
  	clear:both;
	Position: absolute; 
	bottom: 0px;
	width:100%;
	background-color: #C0C0C0;
	color: #2F4F4F;
 	text-align: left;
	padding:10px;
}

#footer,.push{
	height:42px;
}
