
body {
  background-color: white;
  color: black;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.header {
  background-color:#FFEBCD;
  padding:10px;
  text-align:left;
} 

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}  

.column{
 float: left;
 padding: 15px;
}

/* Middle column- section and article*/
.column.middle {
  width: 50%;
  background-color:#FFFAF0;
}


.main {
  width: 100%;
  background-color:#FFFAF0;
}

.article.img {
  width: 40%;
  margin-bottom: 5px;
}

/* side column */
.column.side {
  width: 30%;
  background-color:#FFEBCD; 
}

.footer {
  display: block;
  color: #f2f2f2;
  background-color:#333;
  text-align: left;
  padding: 15px;
}

.menupage {
  text-align: center;
  padding: 40px 0 80px;
}

.menupage.img {
  width: 50%;
  margin-bottom: 40px;
}


/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: gold;
}

.gallerycolumn{
  float:left;
  width:90%;
  padding: 5px;
}

.gallery.img{
  width:5%;
  float: left;
}


